body {
    margin: 0;
    padding: 0;
    font-family: "Tajawal", sans-serif;
}

.navbar {
    background-color: #18332B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
}

.navbar .logo img {
    height: 40px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 60px;
}

.navbar h2 {
    margin: 0;
    font-size: 18px;
    color: #fff;
}

.btn-outline {
    border: 1px solid #c9b67a;
    border-radius: 50px;
    padding: 8px 20px;
    color: #c9b67a;
    background-color: transparent;
    text-decoration: none;
    transition: 0.3s;
}

.btn-outline:hover {
    background-color: #c9b67a;
    color: #fff;
}

.logo a {
    text-decoration: none;
}

.logo span {
    color: #ffffff;
    font-size: 1.4rem;
}

.actions > div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-outline.green {
    background-color: #28a745;
    color: white;
}

.btn-outline.green:hover {
    background-color: #218838;
    color: white;
}

.content {
    text-align: center;
    padding: 20px;
}

iframe {
    width: 90%;
    min-height: 80vh;
    border: none;
    border-radius: 10px;
}

h2, span, p, div , label ,iframe{
    cursor: default;
}
a, button, .btn {
    cursor: pointer;
}